<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.1.0
    </div>
    <strong>Bản quyền &copy; 2023-2024 <a href="https://adminlte.io">Chương Đoàn</a></strong>
</footer>