@model SV20T1080026.DomainModels.Shipper
@{
    ViewBag.Title = "Xóa đơn vị giao hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="~/Admin/Shipper/Delete/@Model.ShipperID" method="post">
            <div class="form-group" style="border-bottom: solid 1px grey">
                <label class="control-label">Tên đơn vị giao hàng</label>
                <p class="form-control-static">
                    @Model.ShipperName
                </p>
            </div>

            <div class="form-group" style="border-bottom: solid 1px grey">
                <label class="control-label">Số điện thoại</label>
                <p class="form-control-static">
                    @Model.Phone
                </p>
            </div>


            <div class="">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-remove"></i> Xóa dữ liệu
                </button>

                <a href="~/Admin/Shipper" class="btn btn-default">Quay lại</a>
            </div>
        </form>
    </div>
</div>

