
@{
    ViewData["Title"] = "InputEmployee";
}

<h1>InputEmployee</h1>

<form action="~/Home/GetEmployee" method="post">
    <input type="text" name="name" />
    <br />
    <input type="number" name="age" />
    <br />
    <button type="submit">Nhap</button>
</form>